* {
    margin: 0;
}

img[src="Screen Shot 2023-01-12 at 12.17.45 PM.png"]:hover {
    outline: 8px solid white;
    outline-offset: -8px;
}

img[src="recording_of_scroller_AdobeExpress.gif"]:hover {
    outline: 8px solid white;
    outline-offset: -8px;
}

img[src="Ponyta - Beckett (1).gif"]:hover {
    outline: 8px solid white;
    outline-offset: -8px;
}

body {
    background-color: #36c3ff;
    font-family: Copperplate, Papyrus, fantasy;
}
