* {
    margin: 0;
}

img[src="graphicsgif_AdobeExpress.gif"].homep:hover, img[src="recording_of_scroller_AdobeExpress.gif"]:hover, img[src="Ponyta - Beckett (1).gif"]:hover, img[src="Screen Shot 2023-01-12 at 8.47.08 PM.png"]:hover, img[src="Screen Shot 2023-01-12 at 11.12.40 PM.png"]:hover, img[src="Screen Shot 2023-01-12 at 9.52.47 PM.png"]:hover {
    outline: 8px solid white;
    outline-offset: -8px;
}

img[src="Screen Shot 2023-01-12 at 8.29.24 PM.png"]:hover {
    outline: 8px solid #AB00FE;
    outline-offset: -8px;
}

img[src="recording_of_scroller_AdobeExpress.gif"], img[src="Ponyta - Beckett (1).gif"], img[src="Screen Shot 2023-01-12 at 8.47.08 PM.png"].rowtwo {
    position: relative;
    top:-5px;
}

img[src="Screen Shot 2023-01-12 at 8.47.08 PM.png"].rowthree {
    position: relative;
    top: -10px;
}

img[src="Screen Shot 2023-01-12 at 9.52.47 PM.png"] {
    position: relative;
    left: 33.3333333%;
}

canvas {
    position: absolute;
    top: -1px;
}

body.index, body.ponyta {
    background-color: #36c3ff;
    color: white;
}

body {
    font-family: "Helvetica Neue";
}

body.rawcode {
    padding 10px 10px;
}

body.index {
    height: 100vw;
}

body.ponyta {
    height: 100vh;
}

a {
    color: #00008B;
    text-decoration: none;
}

.blurb {
    position: relative;
    top: -5px;
    border: 16px solid #00008B;
    height: calc(100vh - 100vw/3 - 41px);
    padding: 5px 12px;
}
